/* Fonts */

@font-face {
    font-family: 'roboto';
    src: url('assets/assets/roboto-regular-webfont-Dh2UyALx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('assets/assets/roboto-bold-webfont-DLEC0mPx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'jura';
    src: url('assets/assets/jura-oeZM-I3y.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
