/* Colours */

$primary: #44277A;
$secondary: #842078;
$tertiary: #D35DB5;
$white: #FFF;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.25);
$error: #C30000;

// Transparence à 80 %

$primary90: rgba(68, 39, 122, 0.90);
$secondary90: rgba(132, 32, 120, 0.90);
$tertiary90: rgba(211, 93, 181, 0.90);
$black80: rgba(0, 0, 0, 0.8);
