.button {
    width: 15rem;
    font-size: 1.25rem;
    padding: 0.6rem 0.75rem 0.75rem 3rem;
    border-radius: 0.70rem;
    border: 0px;
    font-family: 'roboto';
    color: $white;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease-in-out;

    &--connection {
        background-image: url(../../img/cta-connection.svg);

        &:hover {
            background-image: url(../../img/cta-connection-hover.svg);
        }
    }

    &--confirm {
        background-image: url(../../img/cta-confirm.svg);

        &:hover {
            background-image: url(../../img/cta-confirm-hover.svg);
        }
    }

    &--new-campaign {
        background-image: url(../../img/cta-new_campaign.svg);

        &:hover {
            background-image: url(../../img/cta-new_campaign-hover.svg);
        }
    }

    &--filter {
        width: 11.125rem;
        color: $tertiary;
        background-image: url(../../img/filter-btn.svg);

        &--primary {
            background-image: url(../../img/filter-btn-primary.svg);
            color: $primary;
            border: 2px solid $primary;
        }
    }

    &--close {
        width: 100%;
        text-align: end;
        padding: 0.5rem 2rem 0 0;
        margin-bottom: -2rem;
    }

    &--add {
        color: $primary;
        background-image: url(../../img/cta-add-ope.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 15rem;
        padding-left: 4rem;
        border: 2px solid $primary;
        border-radius: 0.75rem;

        &:hover {
            color: $tertiary;
            background-image: url(../../img/cta-add-ope-hover.svg);
            border: 2px solid $tertiary;
        }
    }

    &--edit {
        color: $primary;
        background-image: url(../../img/cta-edit.svg);
        border: 2px solid $primary;

        &:hover {
            color: $tertiary;
            background-image: url(../../img/cta-edit-hover.svg);
            border: 2px solid $tertiary;
        }
    }

    &--trash {
        display: inline-block;
        width: 1.25rem;
        height: 1.5rem;
        background-image: url(../../img/trash.svg);

        &:hover {
            background-image: url(../../img/trash-hover.svg);
        }
    }

    &--eye {
        position: absolute;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        right: 5%;
        top: 22%;
        filter: drop-shadow(0.25rem 0.25rem 0.25rem $shadow);
        transition: background-image 0.3s ease-in-out, background-color 0.3s ease-in-out; // Ajout de la transition

        &--inactive {
            background-image: url(../../img/eye-inactive.svg);
        }

        &--active {
            background-image: url(../../img/eye-active.svg);
        }

        &:hover {
            background-image: url(../../img/eye-active.svg);
        }
    }

    &__section {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        color: $white;

        @media screen and (max-width: 768px) {
            & {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}