.button {
    width: 15rem;
    font-size: 1.25rem;
    padding: 0.6rem 0.75rem 0.75rem 3rem;
    border-radius: 0.70rem;
    border: 0px;
    font-family: 'roboto';
    color: $white;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out, background-color 0.3s ease-in-out; // Ajout de la transition

    &--connection {
        background-image: url(../../img/cta-connection.svg);

        &:hover {
            background-image: url(../../img/cta-connection-hover.svg);
        }
    }

    &--confirm {
        background-image: url(../../img/cta-confirm.svg);

        &:hover {
            background-image: url(../../img/cta-confirm-hover.svg);
        }
    }

    &--new-campaign {
        background-image: url(../../img/cta-new_campaign.svg);

        &:hover {
            background-image: url(../../img/cta-new_campaign-hover.svg);
        }
    }

    &--filter {
        width: 11.125rem;
        color: $tertiary;
        background-image: url(../../img/filter-btn.svg);
    }

    &--close {
        width: 100%;
        text-align: end;
        padding: 0.5rem 2rem 0 0;
        margin-bottom: -2rem;
    }

    &--eye {
        position: absolute;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        right: 5%;
        top: 22%;
        filter: drop-shadow(0.25rem 0.25rem 0.25rem $shadow);
        transition: background-image 0.3s ease-in-out, background-color 0.3s ease-in-out; // Ajout de la transition

        &--inactive {
            background-image: url(../../img/eye-inactive.svg);
        }

        &--active {
            background-image: url(../../img/eye-active.svg);
        }

        &:hover {
            background-image: url(../../img/eye-active.svg);
        }
    }

   &__section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    color: $white;

    @media screen and (max-width: 768px) {
        & {
            flex-direction: column;
            align-items: center;
        }
    }
   }
}