.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: transform 5s ease-in-out;
    align-items: center;

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        border: 1px solid $tertiary;
        border-radius: 0.75rem;
        gap: 0.625rem;
        padding: 1rem 0.625rem;
        min-width: 20.5rem;

        @media screen and (max-width: 768px) {
            max-width: 21rem;

            &--center {
                text-align: center;
            }
        }


        &--vignettes {
            padding: 1rem 3.125rem;
        }

        &--operations {
            width: 100%;
            align-self: flex-start;
        }

        &--company {
            min-width: 20.5rem;
        }

        &--row {
            flex-direction: row;
        }
    }

    &--over {
        /* Safari and Chrome */
        -webkit-transition: all 0.6s ease;
        /* Firefox */
        -moz-transition: all 0.6s ease;
        /* IE 9 */
        -ms-transition: all 0.6s ease;
        /* Opera */
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;

        &:hover {
            /* Safari and Chrome */
            -webkit-transform: scale(1.05);
            /* Firefox */
            -moz-transform: scale(1.05);
            /* IE 9 */
            -ms-transform: scale(1.05);
            /* Opera */
            -o-transform: scale(1.05);
            transform: scale(1.05);
        }
    }

    @media screen and (min-width: 768px) {
        &--grid {
            display: grid;
            grid-template-columns: 1fr 1fr; // ou 31 rem
            align-items: baseline;

            &--3columns {
                grid-template-columns: repeat(3, 1fr);
                align-items: baseline;
            }
        }
    }

    &__legal {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}