.client {
    &__ttl {
        font-size: 1.5rem;
        font-family: 'jura';
        color: $primary;

        &:hover {
            color: $tertiary;
        }
    }

    &__subttl {
        font-size: 1.25rem;
        font-family: 'jura';
        color: $secondary;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    &__lst {
        padding-top: 1.5rem;
    }

    &__brands-ttl {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    &--disabled {
        ::before {
            content: url(../../img/disable.svg);
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__name {
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    &--disable-btn {
        opacity: 1;
        background-image: url(../../img/disable.svg);
        width: 1.25rem;
        aspect-ratio: 1;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0 0.5rem;
        margin-left: 0.5rem;
        transition: opacity 0.2s ease-in-out;
    }

    &--enable-btn {
        opacity: 1;
        background-image: url(../../img/enable.svg);
        width: 1.25rem;
        aspect-ratio: 1;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0 0.5rem;
        margin-left: 0.5rem;
        transition: opacity 0.2s ease-in-out;
    }

    &__name:hover &--disable-btn,
    &--disable-btn:hover {
        opacity: 1;
    }

    &__name:hover &--enable-btn,
    &--enable-btn:hover {
        opacity: 1;
    }

    &__menu-box {
        position: relative;
    }

    &__menu {
        display: none;
        position: absolute;
        z-index: 1;
        color: $primary;
        background-color: $white;
        border-radius: 0.75rem;
        border: 2px solid $tertiary;
        padding: 1rem;
        width: 12rem;
        left: 0%;
        top: 95%;

        &-link {
            &:hover {
                color: $tertiary;
            }
        }

        &-plus-btn {
            display: inline-block;
            width: 2rem;
            aspect-ratio: 1;
            background-image: url(../img/cta-plus.svg);
            border: 2px solid $tertiary;
            border-radius: 0.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

        }
    }

    &__logo {
        min-width: 5rem;
        max-width: 5rem;
        aspect-ratio: 1;
        border-radius: 100%;
        border: 3px solid $tertiary;
        background-color: $white;
        
        &--lnk {
            cursor: pointer;
            
            &:hover {
                border-color: $primary;
                opacity: 0.75;
            }
        }
    }
}