.dropdown {
    position: relative;
    display: inline-block;

    &__button {
        background-color: $white;
        color: $primary;
        border: none;
        cursor: pointer;
        align-items: center;

        &:hover {
            color: $tertiary;
        }

        @media screen and (max-width: 768px) {
            height: 5rem;
        }
    }

    &__child {
        display: none;
        background-color: $white;
        width: 100%;
        padding: 1rem;
        margin-left: 1.75rem;
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;

        &-itm {
            padding: 0.5rem 0;

            @media screen and (max-width: 768px) {
                padding: 0;
            }
        }
    }

    &__child a {
        color: $primary;

        &:hover {
            color: $tertiary;
        }
    }

    @media screen and (min-width: 768px) {
        &:hover .dropdown__child {
            display: block;
            position: absolute;
            z-index: 1;
            padding-bottom: 1rem;

            &.dropdown__grid {
                display: grid; // Afficher le grid
                grid-template-columns: repeat(3, 1fr);
                padding: 1rem;
                width: 50vw;
                gap: 1;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .dropdown__child--active {
            display: block;
            padding: 0 1rem;
        }

        .dropdown__grid {
            grid-template-columns: 1fr; // Une seule colonne sur les petits écrans
        }
    }

}