.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.25rem;
    font-size: 0.75rem;
    color: $white;
    background-color: $primary;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, $primary, $tertiary);
    border-image-slice: 1;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }

    &__lnk {
        color: $white;

        &:hover {
            color: $tertiary;
        }
    }

    &--error {
        line-height: 0;
        height: 0;
    }

    &__wave {
        width: 100%;
    }
}