.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: $white;
    width: 100%;

    &__lst {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        padding: 0.25rem;
        width: 90%;

        @media screen and (min-width: 768px) {
            & {
                flex-direction: row;
                gap: 4.25rem;
                width: 100%;
            }

            &--row {
                display: flex;
                flex-direction: row;
                gap: 4.25rem;
                width: 100%;
                padding: 1rem 4rem 0.25rem 4rem;
            }
        }

        &--app {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }

    &__itm {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &--app {
            width: 100%;
        }
    }

    &__label {
        font-size: 1.25rem;
    }

    &__input {
        padding: 0.75rem 1rem;
        border: 2px solid $primary;
        border-radius: 0.5rem;
        filter: drop-shadow(0.25rem 0.25rem 0.25rem $shadow);
        width: 100%;

        &:hover {
            border: 2px solid $secondary;
        }

        &:focus {
            border: 2px solid $secondary;
        }

        &:active {
            border: 2px solid $secondary;
        }

        @media screen and (min-width: 768px) {
            & {
                width: 18.75rem;
            }
        }

        &--password {
            display: flex;
            position: relative;
        }

        &--select {
            background-image: url(../../img/select-background.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right center;
            -webkit-appearance-: none;
            appearance: none;
        }

        &--number {
            -webkit-appearance-: none;
            appearance: none;
        }

        &--from {
            padding-left: 4rem;
            background-image: url(../../img/input-from.svg);
            background-position: left center;
        }

        &--to {
            padding-left: 4rem;
            background-image: url(../../img/input-to.svg);
            background-position: left center;
        }

        &--colour {
            width: 100%;
            border-radius: 0.25rem;
        }
    }

    &__textarea {
        padding: 1rem 1rem 3rem 1rem;
    }

    &__placeholder {
        color: $shadow;
    }
}