/* Hamburger */

.hamburger {
    @media screen and (max-width: 768px) {
        width: 2.125rem;
        height: 1.6875rem;
  
        &__menu {
            z-index: 5;
            min-width: 100%;
            min-height: 100vh;
            position: fixed;
            top: 5rem;
            left: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            text-align: left;
            padding: 0rem 0rem 0rem 1.5rem;
            transition: all 0.3s ease-in-out;
            border-bottom: 2px solid transparent;
            border-image: linear-gradient(to right, $primary, $tertiary);
            border-image-slice: 1;
            overflow:scroll;
        }
    
        &__menu.overlay {
            visibility: visible;
            opacity: 1;
            background: $white;
            line-height: 4;
        }
    }
    
    @media screen and (min-width: 764px) {
        & {
            display: none;
        }
    }
}
