/* Hamburger */

.login {
    @media screen and (max-width: 768px) {

        &__menu {
            z-index: 10;
            min-width: 100%;
            min-height: 100vh;
            position: fixed;
            top: 5rem;
            left: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            text-align: left;
            transition: all 0.3s ease-in-out;
        }

        &__menu.overlay {
            visibility: visible;
            opacity: 1;
            background: $white;
        }
    }
}