.nav {
    background-color: $white;

    &__itm {
        color: $primary;

        &:hover {
            color: $tertiary;
        }

        &--active {
            color: $tertiary;
        }
    }

    &__lnk {
        display: flex;
        // align-items: center;
        gap: 0.75rem;
        font-size: 1.25rem;
    
        @media screen and (min-width: 768px) {
            // align-items: center;
            justify-content: center;
        }
    
        &::before {
            // width: 1.5rem;
            // height: 1.5rem;
        }
    
        &--profile::before {
            content: url(../../img/profile-lnk.svg);
        }
    
        &--dashboard::before {
            content: url(../../img/dashboard-lnk.svg);
        }

        &--network {
            color: $primary;
        }

        &--network::before {
            content: url(../../img/lnk-network.svg);
        }
    
        &--history::before {
            content: url(../../img/history-lnk.svg);
        }
    
        &--logout::before {
            content: url(../../img/logout-lnk.svg);
        }

        &--login::before {
            content: url(../../img/login-lnk.svg);
        }

        &--contact::before {
            content: url(../../img/contact-lnk.svg);
        }

        &--new-campaign::before {
            content: url(../../img/campaign-lnk.svg);
        }
    }

    @media screen and (min-width: 768px) {
        &__itm {
            display: inline-block;
        }

        &__lst {
            display: flex;
            justify-content: center;
            gap: 5rem;
            padding: 0.5rem;
        }
    }

    &__arrow {
        font-size: 1rem;
    }
}