.notif {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    transition: opacity 0.6s ease-out;

    &--error {
        color: $error;
    }

    &--success {
        color: $primary;
    }
}