.operation {
    padding: 0.5rem;
    border-top: 1px solid $tertiary;

    &__row {
        color: $primary;
    }

    &__date {
        font-family: 'jura';
        color: $secondary;
    }

    &__edit-link {
        color: $primary;

        &:hover {
            color: $tertiary;
        }
    }

    &__button {
        color: $primary;
        margin: 1rem;

        &:hover {
            color: $tertiary;
        }
    }
}