.profil {
    align-items: flex-start;
    font-size: 1.25rem;
    padding: 1rem 1.25rem;
    line-height: 2;

    &__info {
        color: $primary;
    }

    &__modify {
        display: flex;
        flex-direction: column;
        
        @media screen and (max-width: 768px) {
        width: 100%;
    }

        &--lnk-list {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    &__lnk {
        font-family: 'roboto';
        font-size: 1rem;

        &--active {
            color: $tertiary;
        }

        &:hover {
            color: $tertiary;
        }
    }

    &__brands {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}