.user {
    &--boss {
        &::before {
            content: url('../../img/crown.svg');
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
            position: absolute;
            left: -20%;
        }
    }
}