.paragraph {
    text-align: center;
}

.big-text {
    font-size: 2rem;
    text-align: center;
    color: $secondary;
}

.small-text {
    font-size: 0.75rem;
}

.hidden {
    display: none;
}

#chart {
    font-size: 1.25rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#filter-form {
    position: relative;
}

#reinit-form {
    position:absolute;
    bottom: 10%;
    right: 30%;

    @media screen and (max-width: 768px) {
        bottom: 8%;
        right: 5%;
    }
}

.big-padding {
    padding: 0 0 6rem 0;
}