.paragraph {
    text-align: center;
}

.big-text {
    font-size: 2rem;
    text-align: center;
    color: $secondary;
}

.medium-text {
    font-size: 1.25rem;
    text-align: center;
}

.small-text {
    font-size: 0.75rem;
}

.text-tertiary {
    color: $tertiary;
}

.hidden {
    display: none;
}

#chart {
    font-size: 1.25rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#filter-form {
    position: relative;
}

#reinit-form {
    @media screen and (max-width: 768px) {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}

.big-padding {
    padding: 0 0 6rem 0;
}

.gradient-border {
    border-image: linear-gradient(to right, $primary, $tertiary);
    border-image-slice: 1;

    &--top {
        border-top: 1px solid transparent;
    }

    &--bottom {
        border-bottom: 1px solid transparent;
    }
}

.partner {
    padding-bottom: 1rem;
}

.secondary {
    color: $secondary;
}