.paragraph {
    text-align: center;
}

.big-text {
    font-size: 2rem;
    text-align: center;
    color: $secondary;
}

.hidden {
    display: none;
}

#chart {
    font-size: 1.25rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}