.vignettes-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (min-width: 768px) {
        &--big {
            flex-direction: row;
            gap: 3.375rem;
        }

        &--row {
            flex-direction: row;
            gap: 1.5rem;
        }
    }
}

.vignette {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: $white;
    padding: 0.5rem;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
    height: fit-content;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem $shadow);

    &__ttl {
        font-family: 'jura';
        font-size: 1rem;

        &--big {
            font-size: 1.25rem;
            text-transform: uppercase;
        }
    }

    &__price {
        font-family: 'jura';
        font-size: 1.25rem;

        &--big {
            font-size: 2rem;
            text-align: center;
        }
    }

    &--big {
        width: 14.875rem;
        gap: 1.5rem;
        font-size: 1.25rem;
    }

    &--primary {
        background: linear-gradient(to right, $black80, $primary90);
    }

    &--secondary {
        background: linear-gradient(to right, $black80, $secondary90);

    }

    &--tertiary {
        background: linear-gradient(to right, $black80, $tertiary90);

    }

    &--bigger {
        width: 14.875rem;
        gap: 1.5rem;
        font-size: 1.5rem;
    }
}